# Telegram Bot
BOT_TOKEN=

# Telethon (userbot для мониторинга чатов)
API_ID=
API_HASH=
PHONE=

# Админы (через запятую)
ADMIN_IDS=YOUR_ADMIN_ID

# ЮKassa
YUKASSA_SHOP_ID=
YUKASSA_SECRET_KEY=

# Настройки
LOG_LEVEL=INFO
DB_PATH=data/bot.db
